.App {
  display: flex;
}

.messages {
  width: 60%;
}

.message {
  padding: 10px;
}

.message:nth-child(even){
  background: rgb(179, 179, 179);
}

.message__author {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: grey;
}

.message__text {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.message-form {
  width: 20%;
  padding: 10px;
}

.text-field {
  /* position: relative; */
}

.error {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  color: red;
  font-size: 8px;
}
